<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	public OTHERS_CLASS implements com.example.springmall.mapper.SampleMapper {
	
	}
 --> 
<mapper namespace="com.example.springmall.mapper.SampleMapper">

	<!-- 9. select one for deleting samplefile -->
	<select id="selectSampleAndSampleFile" parameterType="int" resultType="MAP">
	
		SELECT s.sampleNo, s.sampleId, sf.samplefile_no, sf.samplefile_path, sf.samplefile_name, sf.samplefile_ext
		FROM sample s
		INNER JOIN samplefile sf
		ON s.sampleNo = sf.sample_no
		WHERE sampleNo = #{sampleNo}
	
	</select>

	<!-- 8. select list of search -->
	<select id="selectSampleOfSearch" parameterType="map" resultType="com.example.springmall.sample.vo.Sample">	
<!-- 		SELECT s.sampleNo as sampleNo, s.sampleId as sampleId, s.samplePw as samplePw, CONCAT(sf.samplefile_name,'.',sf.samplefile_ext) as sampleFile
		FROM sample s
		INNER JOIN samplefile sf
		ON s.sampleNo = sf.sample_no
		WHERE ${selectValue}=#{sampleId} 
		ORDER BY sampleNo 
		LIMIT #{startRow}, #{rowsPerPage} -->
		
		SELECT sampleNo as sampleNo, sampleId as sampleId, samplePw as samplePw FROM sample WHERE ${selectValue}=#{sampleId} ORDER BY sampleNo LIMIT #{startRow}, #{rowsPerPage}
	</select>

	<!-- 7. select one for login -->
	<select id="selectOneForLogin" parameterType="com.example.springmall.sample.vo.Sample" resultType="com.example.springmall.sample.vo.Sample">
		SELECT sampleNo as sampleNo, sampleId as sampleId, samplePw as samplePw FROM sample WHERE sampleId=#{sampleId} AND samplePw=#{samplePw}
	</select>

	<!-- 6. update sample -->
	<update id="updateSample" parameterType="com.example.springmall.sample.vo.Sample">
		UPDATE sample SET sampleId=#{sampleId}, samplePw=#{samplePw} WHERE sampleNo=#{sampleNo}
	</update>
	
	<!-- 5. select one sample -->
	<select id="selectOne" parameterType="int" resultType="com.example.springmall.sample.vo.Sample">
		SELECT sampleNo as sampleNo, sampleId as sampleId, samplePw as samplePw FROM sample WHERE sampleNo=#{sampleNo}
	</select>
	
	<!-- 4. insert sample -->
	<!-- 
		1. insert된 행의 sampleNo값을 가져오게 된다. sampleNo값은 DataClass에 선언되어있는 sampleNo 필드 안으로 값이 저절로 들어간다.
		2. insert 구문의 속성중 하나인 useGeneratedKeys를 true로 설정하여 key를 가지고 올 수도 있다.
	 -->
	<insert id="insertSample" parameterType="com.example.springmall.sample.vo.Sample">
	    <selectKey resultType="int" keyProperty="sampleNo" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
		INSERT INTO sample(sampleId, samplePw) VALUES(#{sampleId}, #{samplePw})
	</insert>

	<!-- 3. delete sample -->
	<delete id="deleteSample" parameterType="int">
		DELETE FROM sample WHERE sampleNo=#{sampleNo}
	</delete>
	
	<!-- 2. select total row count for paging -->
	<select id="selectSampleCount" resultType="int">
		SELECT COUNT(*) FROM sample
	</select>
	
	<!-- 1. select all list -->
	<select id="selectSampleAll" parameterType="int" resultType="com.example.springmall.sample.vo.Sample">
		<!-- CONCAT: mysql 내 문자열 합쳐주는 함수 -->
<!--  		SELECT s.sampleNo as sampleNo, s.sampleId as sampleId, s.samplePw as samplePw, CONCAT(sf.samplefile_name,'.',sf.samplefile_ext) as sampleFile
		FROM sample s
		INNER JOIN samplefile sf
		ON s.sampleNo = sf.sample_no
		ORDER BY sampleNo
		LIMIT #{startRow}, #{rowsPerPage} -->
		SELECT sampleNo as sampleNo, sampleId as sampleId, samplePw as samplePw FROM sample ORDER BY sampleNo LIMIT #{startRow}, #{rowsPerPage}
	</select>
	
</mapper>