<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	public OTHERS_CLASS implements com.example.springmall.mapper.SampleMapper {
	
	}
 --> 
<mapper namespace="com.example.springmall.mapper.SampleMapper">

	<!-- 7. select one for login -->
	<select id="selectOneForLogin" parameterType="com.example.springmall.sample.vo.Sample" resultType="com.example.springmall.sample.vo.Sample">
		SELECT sampleNo as sampleNo, sampleId as sampleId, samplePw as samplePw FROM sample WHERE sampleId=#{sampleId} AND samplePw=#{samplePw}
	</select>

	<!-- 6. update sample -->
	<update id="updateSample" parameterType="com.example.springmall.sample.vo.Sample">
		UPDATE sample SET sampleId=#{sampleId}, samplePw=#{samplePw} WHERE sampleNo=#{sampleNo}
	</update>
	
	<!-- 5. select one sample -->
	<select id="selectOne" parameterType="int" resultType="com.example.springmall.sample.vo.Sample">
		SELECT sampleNo as sampleNo, sampleId as sampleId, samplePw as samplePw FROM sample WHERE sampleNo=#{sampleNo}
	</select>
	
	<!-- 4. insert sample -->
	<insert id="insertSample" parameterType="com.example.springmall.sample.vo.Sample">
		INSERT INTO sample(sampleId, samplePw) VALUES(#{sampleId}, #{samplePw})
	</insert>

	<!-- 3. delete sample -->
	<delete id="deleteSample" parameterType="int">
		DELETE FROM sample WHERE sampleNo=#{sampleNo}
	</delete>
	
	<!-- 2. select total row count for paging -->
	<select id="selectSampleCount" resultType="int">
		SELECT COUNT(*) FROM sample
	</select>
	
	<!-- 1. select all list -->
	<select id="selectSampleAll" parameterType="int" resultType="com.example.springmall.sample.vo.Sample">
		SELECT sampleNo as sampleNo, sampleId as sampleId, samplePw as samplePw FROM sample ORDER BY sampleNo LIMIT #{startRow}, #{rowsPerPage}
	</select>
	
</mapper>